@import 'vars';
@import 'fonts';

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
}

body{
    min-width: 320px;
    overflow-x: hidden;
}

h1, h1, h3, h4, h5, h6{
    margin: 0;
}

a{
    text-decoration: none;
}

.page{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

//  ПЕРВАЯ СТРАНИЦА: 
//  Шапка

.container-header{
    padding: 0 15px;
}

.header{
    font-family: 'Roboto-Bold', 'Arial', 'sans-serif ';
    font-weight: 700;
    font-style: normal;
    background-color: $main;
    &-top{
        min-height: 60px;
        display: flex;
        align-items: center;
    }
}

.logo{
    color: #fff;
    position: absolute;
    left: 62px;
    top: 20px;
}
.logo a{
    color: #fff;
}

.header-btn{
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    display: flex;
    margin-bottom: 5px;
    flex-direction: column;
}
.header-btn div{
    width: 24px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
    margin-top: 6px;
}

.menu{   
    width: 218px;
    height: 100vh;
    background-color: $main;
    position: absolute;
    left: -100%;
    transition: all .1s;
    z-index: 1;
}

.menu.active{
    left: 0;
}

.container-menu{
    position: relative;
}

.close-btn{
    width: 24px;
    height: 24px;
    background-color: $main;
    cursor: pointer;
    position: absolute;
    top: -40px;
}
.close-btn::after, 
.close-btn::before{
    content: "";
    width: 33px;
    height: 2px;
    background-color:#fff;
    border-radius: 1px;
    position: absolute;
    transform-origin: left;
}

.close-btn::after {
    transform: rotate(45deg);
}
.close-btn::before{
    transform: rotate(-45deg);
    bottom: -1px;
}

.menu__list ul{
    list-style: none;
}
.menu__list a{
    font-family: 'PTSans-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    padding: 5px 0 6px 0;
    border-bottom: 1px solid #B7A7D7;
    display: inline-block;
    min-width: 186px;
}

//Контент

.container-main{
    padding: 11px 15px;    
}

.main{
    height: 100%;
    background: ghostwhite;
}

.text__main{
    font-family: 'OpenSans-Bold';
    color: $main;
}

.choose-carwash{
    min-width: 289px;
    height: 59px;
    border-radius: 12px;
    background-color: $link;
    margin-top: 21px;
    margin-bottom: 25px;
    position: relative;
}

.choose-carwash img{
    position: absolute;
    top: 21px;
    right: 16px;
}

.choose-carwash a{
    font-family: 'PTSans-Bold';
    font-weight: 700;
    font-style: normal;
    color: $main;
    position: relative;
    top: 19px;
    left: 11px;
}

//footer / подвал

.container-footer{
    padding: 16px 15px;
}

.footer{
    background-color: $main;
    min-width: 320px;
    height: 95%;
    margin-top: auto;
    z-index: 2;
    &__inner{
        display: flex;
        margin: 0;
        justify-content: space-between;
    }
}

.p-footer{
    font-family: 'PTSans-Bold';
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}

.apps ul, .social ul{
    list-style: none;
}

.apps a, .social a{
    font-family: 'PTSans-Regular';
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    padding: 6px 0 6px 0;
    border-bottom: 1px solid #B7A7D7;
    display: inline-block;
    min-width: 140px;
}

.text{
    width: 110px;
    font-family: 'PTSans-Regular';
    font-size: 14px;
    line-height: 20px;
    color: #fff; 
    padding-top: 16px;
}

.a{
    font-family: 'PTSans-Regular';
    font-size: 14px;
    line-height: 20px;
    color: #fff; 
    padding-top: 24px;
}

.footer-btn{
    position: relative;
    top: 13px;
    min-width: 289px;
    height: 59px;
    border: 2px solid #C1AED8;
    border-radius: 12px;
}

.footer-btn a{
    position: relative;
    top: 16px;
    font-family: 'PTSans-Bold';
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-align: center;
}

//Контроль

.control{
    min-width: 320px;
    min-height: 348px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(143, 143, 143, 0.4);
    border-radius: 12px;
    margin-top: 21px;
    margin-right: -15px;
    margin-left: -15px;
    &__text{       
        display: flex;
        margin: 0;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }
}

.control__text a{
    font-family: 'PTSans-Regular';
    font-size: 14px;
    line-height: 20px;
    color: #B7A7D7;
    width: 80px;
    height: 38px;
    margin-left: 15px;
    margin-right: 15px;
}
.control__text a:focus{
    color: $main;
    margin: 0;
    width: 80px;
    border-bottom: 2px solid #62319E;
    min-width: 107px;
}

//Персонал

.personal{
    min-height: 140px;
    min-width: 320px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(143, 143, 143, 0.4);
    border-radius: 12px;
    margin: 21px -15px 278px -15px;
    text-align: center;
}
.personal ul{
    list-style: none;
}
.personal a{
    width: auto;
    font-family: 'PTSans-Regular';
    font-size: 17px;
    line-height: 20px;
    color: $main;
    padding: 13px 0 13px 0;
    border-bottom: 1px solid #F4F4F5;
    display: inline-block;
    min-width: 288px;
}

//Администраторы

.admins{
    min-height: 415px;
    min-width: 320px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(143, 143, 143, 0.4);
    border-radius: 12px;
    margin-top: 21px;
    margin-right: -15px;
    margin-left: -15px;
}

.main{
    &__inner{
        display: flex;
        margin: 0;
        justify-content: space-between;
    }
}

.paragraphs{
    font-family: 'PTSans-Regular';
    font-size: 17px;
    line-height: 20px;
    color: #9285AE;    
}
.paragraphs ul{
    list-style: none;
}
.paragraphs li{
    padding: 14px 0 14px 16px;
    border-bottom: 1px solid #F4F4F5;
    min-width: 144px;
}

.titles{
    font-family: 'PTSans-Regular';
    font-size: 17px;
    line-height: 20px;
    color: $main;
    margin-right: 16px;
    text-align: right;
}
.titles ul{
    list-style: none;
}
.titles li{
    height: 49px;
    padding: 14px 0 14px 0;
    border-bottom: 1px solid #F4F4F5;
    min-width: 144px;
}

.check{
    width: 18px;
    height: 18px;
    background: #FFFFFF;
    border: 1px solid #260B5D;
    border-radius: 5px;
    display: inline-block;

}

.round {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $main;
    display: inline-block;
}

.admins-btn{
    background: #B7A7D7;
    border-radius: 0px 0px 12px 12px;
    height: 46px;
}
.admins-btn p{
    position: relative;
    top: 13px;
    font-family: 'PTSans-Regular';
    font-size: 17px;
    line-height: 20px;
    text-align: center;
}

.item1{
    margin-left: 16px;
    margin-right: 8px;
    padding-top: 8px;
    height: 83px;
    display: inline;
    text-align: center;
    font-family: 'PTSans-Regular';
    font-size: 17px;
    line-height: 20px;
    color: $main;
}

//Управляющие

.managers{
    min-height: 231px;
    min-width: 320px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(143, 143, 143, 0.4);
    border-radius: 12px;
    margin-bottom: 16px;
}



//Исполнители

.executors{
    min-height: 277px;
    min-width: 320px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(143, 143, 143, 0.4);
    border-radius: 12px;
    margin-top: 16px;
    margin-right: -15px;
    margin-left: -15px;
}
